/* FEUILLE DE STYLE POUR L'APPLICATION MATHremATIX */
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* On met les marges à 0 et la hauteur à 100% sur le docurement */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Roboto", sans-serif;
    background-color: rgb(29, 27, 27);
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    color: whitesmoke;
}
/* Logo */
#logo {
    width: 35vw;
    margin: 1%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo > img {
    width: 8vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px whitesmoke;
}

#logo > div{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

#logo > div > p {
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

#logo > div > h1 {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
}
/* Catégories */
header > nav{
    list-style-type: none;
    width: 50%;
    margin: 1%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category{
    margin: 1.5% auto;
    padding: 1.8% 3.6%;
    background-color: rgb(13, 31, 85);
    color: whitesmoke;
    box-shadow: 0px 0px 10px whitesmoke;
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: 400;
}

.categoryActive{
    background-color: rgb(14, 36, 102);
    box-shadow: 0px 0px 15px rgb(2, 161, 23);
}

.category:hover, .category:focus, .category:active {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(14, 36, 102);
    box-shadow: 0px 0px 15px rgb(2, 161, 23);
    cursor: pointer;
}

/* MAIN */
/* Boutton pour démarrer la partie */
#gameStart{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameStart > p {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 5% auto;
}

#gameStart>button{
    background-color: rgb(14, 36, 102);
    color: whitesmoke;
    border: none;
    padding: 4% 8%;
    font-size: 2.5rem;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(14, 36, 102);
}

#gameStart>button:hover, #gameStart>button:focus, #gameStart>button:active {
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    background-color: rgb(2, 161, 23);
    box-shadow: 0px 0px 30px rgb(2, 161, 23);
    cursor: pointer;
}
/* Décompte de début de partie */
#countdown{
    justify-self: center;
    color: whitesmoke;
    font-size: 5rem;
    font-weight: 500;
}

/* Infos de la partie */
#gameInfos {
    display: none;
    width: 50%;
    align-items: center;
    margin: 4% auto;

    font-size: 1.2rem;
    color: whitesmoke;
}

/* Décompte de la partie (60s) */
#countdownGame {
    width: 100%;
    font-size: 1.5rem;
    color: whitesmoke;
}

/* Questions */
#questionContainer {
    display: none;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: 5% auto;

    font-size: 2rem;
    color: whitesmoke;
}

#answer {
    width: 20%;
    padding: 2% 1%;
    background-color: rgb(46, 43, 43);
    border: solid 1px rgb(59, 55, 55);
    border-radius: 5px;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 400;
}

#validate{
    background-color: rgb(14, 36, 102);
    color: whitesmoke;
    border: none;
    padding: 1.5% 3.5%;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(14, 36, 102);
}

#validate:hover, #validate:focus, #validate:active {
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    background-color: rgb(2, 161, 23);
    box-shadow: 0px 0px 30px rgb(2, 161, 23);
    cursor: pointer;
}

#question > p, #answer, #validate {
    margin: 0 2%;
}

/* Résultat de la partie */
#gameResult {
    display: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 3% auto;
}

/* Animations */
@keyframes goodAnswer {
    from {
        background-color: rgb(29, 27, 27);
    }
    to {
        background-color: rgb(2, 161, 23);
    }
}

@keyframes badAnswer {
    from {
        background-color: rgb(29, 27, 27);
    }
    to {
        background-color: rgb(156, 25, 2);
    }
}
/* FOOTER */
footer{
    padding: 0.5% 0% 0.5% 0.5%;
    color: whitesmoke;
}

/* Medias Queries */
/* Tab & phone */
@media (max-width: 769px) {
    header{ 
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    #logo { width: 100%; }
    #logo > img { width: 20vw; }
    #logo > div > p { font-size: 1.8rem; }
    #logo > div > h1 { font-size: 1rem; }
    header > nav {
        width: 100%;
        margin: 4% auto;
        padding: 0;
    }
    .category{
        font-size: 0.8rem; 
    }
    #gameStart{ 
        font-size: 1.2rem;
        text-align: center;
    }
    #gameStart>button{
        font-size: 1.5rem;
    }
    footer{
        font-size: 0.8rem;
    }
}