RewriteEngine On

# Ne pas rediriger si le fichier existe
RewriteCond %{REQUEST_URI} \.xml$ [NC]
RewriteRule ^ - [L]
AddType application/xml .xml

# Autoriser les fichiers statiques (images, CSS, JS)
# L : Fin de règle | - : On change rien, pas de redirection
RewriteRule ^assets/ - [L]

# Redirection de toutes les routes vers ce fichier
# ^(.*)$ : Prend toutes les URL | index.php : Redirige tous les chemins vers ce fichier | QSA : Conserve les paramètres
RewriteRule ^(.*)$ index.php [L,QSA]

# Redirection HTTP vers HTTPS
# R=301 : Redirection permanante
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]