RewriteEngine On
RewriteRule ^assets/ - [L]
RewriteRule ^(.*)$ index.php [L,QSA]
RewriteCond %{SERVER_PORT} 60
RewriteRule ^(.*)$ https://thibaut-gerard.fr/$1 [R,L]
RewriteCond %{ENV:HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]