<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="none">

    <title>Drop Box</title>

    <link rel="stylesheet" href="assets/css/dropbox/style.css?v=1.0">
    <script defer src="assets/js/dropbox/script.js"></script>
</head>

<body>
    <header>
        <nav>
            <div id="navLogoBox">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 528 512" id="logo">
                    <path
                        d="M264.4 116.3l-132 84.3 132 84.3-132 84.3L0 284.1l132.3-84.3L0 116.3 132.3 32l132.1 84.3zM131.6 395.7l132-84.3 132 84.3-132 84.3-132-84.3zm132.8-111.6l132-84.3-132-83.6L395.7 32 528 116.3l-132.3 84.3L528 284.8l-132.3 84.3-131.3-85z" />
                </svg>
                <p>Dropbox</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" id="iconBurger">
                <path
                    d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" />
            </svg>
            <div id="navCenterBox">
                <div>Pour les équipes</div>
                <div>Pour les particuliers</div>
            </div>
            <div id="navRightBox">
                <div>Se connecter</div>
                <div>S'inscrire</div>
            </div>
        </nav>
    </header>
    <main>
        <div class="blueHead">
            <div class="head-box">
                <p class="yellow-text">Dropbox</p>
                <h1 class="yellow-text">Concentrez-vous sur ce qui compte vraiment</h1>
                <p class="white-text">Dropbox est le tout premier espace de travail intelligent du marché. Nous
                    rassemblons
                    tous
                    les contenus de votre équipe tout en vous laissant utiliser les outils que vous aimez. Et nous vous
                    aidons à
                    y voir plus clair en mettant en avant ce qui compte vraiment.
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" id="arrow">
                    <path
                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" />
                </svg>
            </div>
        </div>
        <div class="yellowBody">
            <div class="yellow-body-box">
                <img src="assets/img/dropbox/img-body.jpg" alt="image">
                <div class="yellow-body-text">
                    <h2 class="blue-text">Finissez-en avec les tâches qui vous font perdre du temps</h2>
                    <p>La plupart des outils de “productivité” vous détournent de votre objectif et perturbent sans
                        cesse
                        votre
                        flux
                        de travail. Mais vous pouvez travailler plus intelligemment. Dropbox vous aide à rester
                        organisé,
                        concentré
                        et en phase avec votre équipe.</p>
                </div>
            </div>
        </div>
        <div class="blueBody">
            <div class="blue-body-box">
                <h2 class="yellow-text">Faites bien plus que stocker et partager des fichiers</h2>
                <div class="border">
                    <h3 class="white-text">Soyez organisé</h3>
                    <p class="white-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, necessitatibus
                        laboriosam perspiciatis aliquid inventore sit, minima placeat molestias similique explicabo
                        fugit
                        aperiam, quo maxime non libero labore quasi! Rem pariatur velit sed fugit adipisci repellendus
                        reiciendis voluptates accusantium rerum odio cum debitis dolore est aliquid quaerat, aspernatur
                        necessitatibus! Reprehenderit, nulla.</p>
                </div>
                <div class="border">
                    <h3 class="white-text">Restez concentré</h3>
                    <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, quisquam.
                        Sapiente,
                        sequi. Cupiditate, et perspiciatis nostrum nisi totam laborum ad molestias, eaque ratione
                        dolorum
                        voluptas, odit eos reprehenderit obcaecati reiciendis?</p>
                </div>
                <div class="border">
                    <h3 class="white-text">Mettez tout le monde sur la même longueur d'onde</h3>
                    <p class="white-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam ipsa culpa
                        amet,
                        in
                        possimus corrupti dolores totam earum. Incidunt laudantium beatae eos explicabo aliquid sequi
                        impedit,
                        maiores fugiat dolore quibusdam illum, rerum voluptate, vitae cum in dicta mollitia? Dolore,
                        sunt.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="whiteFooter">
            <h2>Choisissez le forfait Dropbox qui vous convient</h2>
            <div class="white-footer-box">
                <div class="foot-item-box">
                    <p>Pour les freelances et travailleurs indépendants</p>
                    <button class="foot-button" type="button">Passer à Dropbox</button>
                </div>
                <div class="foot-item-box">
                    <p>Pour les entreprises et les équipes de toute taille</p>
                    <button class="foot-button" type="button">Passer à Dropbox Business</button>
                </div>
            </div>
        </div>
        <div class="blackfooter">
            <div class="footer-box">
                <div class="foot-item">
                    <h3>Dropbox</h3>
                    <p>Sur ordinateur</p>
                    <p>Sur mobile</p>
                    <p>Forfaits</p>
                    <p>Sécurité</p>
                    <p>Fonctionnalités</p>
                </div>
                <div class="foot-item">
                    <h3>Produits</h3>
                    <p>Plus</p>
                    <p>Family</p>
                    <p>Professional</p>
                    <p>Business</p>
                    <p>Enterprise</p>
                </div>

                <div class="foot-item">
                    <h3>Entreprise</h3>
                    <p>A propos de Dropbox</p>
                    <p>Recrutement</p>
                    <p>Medias</p>
                    <p>Relations avec investisseurs</p>
                    <p>Blog</p>
                </div>
                <div class="foot-item">
                    <h3>Assistance</h3>
                    <p>Centre d'assistance</p>
                    <p>Nous contacter</p>
                    <p>Cookies</p>
                    <p>Confidentialité et conditions</p>
                    <p>Plan du site</p>
                </div>
                <div class="foot-item">
                    <h3>Communauté</h3>
                    <p>Developpeur</p>
                    <p>Parrainages</p>
                    <p>Forum</p>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>