<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mathematix est un outil sous la forme d'un jeu pour réviser les mathématiques.">
    <meta name="keywords" content="mathématiques, révision, jeu, additions, soustractions, multiplications, divisions">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Thibaut GERARD">
    <title>Mathematix - L'outil pour réviser ses mathématiques</title>
    <!-- Design -->
    <link rel="shortcut icon" href="assets/img/mathematix/math-icon.png" />
    <link rel="stylesheet" href="assets/css/mathematix/style.css">
    <!-- Scripts -->
    <script defer src="assets/js/mathematix/game.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img src="assets/img/mathematix/math-logo.jpeg" alt="Mathematix Logo">
            <div>
                <p>Mathematix</p>
                <h1>Révisez les mathématiques facilement avec Mathematix</h1>
            </div>
        </div>
        <nav>
            <div class="category categoryActive">Additions</div>
            <div class="category">Soustractions</div>
            <div class="category">Multiplications</div>
            <div class="category">Divisions</div>
        </nav>
    </header>

    <main>
        <div id="gameInfos">
            <progress id="countdownGame" value="60" max="60"></progress>
            <p id="timer">Temps restant: 60 secondes</p>
            <p id="score">Score: 0</p>
        </div>

        <div id="questionContainer">
            <p>0</p>
            <p>+</p>
            <p>0</p>
            <p>=</p>
            <input type="number" id="answer" required>
            <button id="validate">&nbsp;√&nbsp;</button>
        </div>   
        
        <div id="gameResult">
            <p>Vous avez terminé la partie !</p>
            <p>Votre score final est de: 0</p>
            <p>Vous avez 0% de bonnes réponses</p>
        </div>

        <div id="gameStart">
            <p>Vous disposez d'une minute pour résoudre le plus grand nombre de calculs possibles.</p>
            <button id="buttonStart">Commencer une partie</button>
        </div>
    </main>

    <footer>© 2025 - Thibaut GERARD</footer>
</body>
</html>