<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mathematix est un outil pour réviser ses mathématiques.">
    <meta name="keywords" content=" ">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Thibaut GERARD">
    <title>Mathematix - L'outil pour réviser ses mathématiques</title>
    <!-- Design -->
    <link rel="shortcut icon" href="assets/img/mathematix/math-icon.png" />
    <link rel="stylesheet" href="assets/css/mathematix/style.css">
    <!-- Scripts -->
    <script defer src="assets/js/mathematix/game.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img src="assets/img/mathematix/math-logo.jpeg" alt="Mathematix Logo">
            <div>
                <p>Mathematix</p>
                <h1>Révisez les mathématiques facilement avec Mathematix</h1>
            </div>
        </div>
        <nav>
            <div class="category categoryActive" id="buttonAddition">Additions</div>
            <div class="category" id="buttonSoustraction">Soustractions</div>
            <div class="category" id="buttonMultiplication">Multiplications</div>
            <div class="category" id="buttonDivision">Divisions</div>
        </nav>
    </header>

    <main>
        <p>Vous disposez d'une minute pour résoudre le plus grand nombre de calculs possibles.</p>
        <button id="buttonStart">Commencer une partie</button>
        <div id="questionContainer">
            <p id="value1">0</p>
            <p id="sign">+</p>
            <p id="value2">0</p>
            <p>=</p>
            <input type="number" id="answer" required>
            <button id="validate">Valider</button>
        </div>       
        <progress id="countdownGame" value="60" max="60"></progress>
        <div id="gameInfos">
            <p id="timer">Temps restant: 60 secondes</p>
            <p id="score">Score: 0</p>
        </div>
    </main>

    <footer>© 2025 - Thibaut GERARD</footer>
</body>
</html>