<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Les maisons du voyage</title>
    <link href="assets/css/triphouse/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <div class="menutop">
            <img class="emenutop" id="imgmenutop" src="assets/img/triphouse/voyages-blanc.png" alt="logo du site">
            <a class="emenutop" href="#">destinations</a>
            <a class="emenutop" href="#">où et quand partir</a>
            <a class="emenutop" href="#">culture & voyage</a>
            <a class="emenutop" href="#">qui sommes-nous</a>
        </div>
        <div class="menutopm">
            <div class="menutopflex">
                <img id="imgmenutop" src="assets/img/triphouse/voyages-blanc.png" alt="logo du site">
                <img src="assets/img/triphouse/icons8-menu-48.png" alt="" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
            </div>
            <div class="offcanvas offcanvas-top bg-dark" tabindex="-1" id="offcanvasTop"
                aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-light" id="offcanvasTopLabel">Menu</h5>
                    <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <a class="emenutopm" href="#">destinations</a><br>
                    <a class="emenutopm" href="#">où et quand partir</a><br>
                    <a class="emenutopm" href="#">culture & voyage</a><br>
                    <a class="emenutopm" href="#">qui sommes-nous</a><br>
                </div>
            </div>
        </div>
        <h1>Luxe & prestige Polynésie Française</h1>
        <nav class="barnav">
            <img id="imgmenufoottop" src="assets/img/triphouse/tampon.png" alt="image tampon">
            <div class="navcontenair">
                <div class="contbuttonmenufoottopl">
                    <button id="button1" type="button" class="btn text-light border-light dropdown-toggle"
                        aria-expanded="false">
                        Selon nos envies
                    </button>
                    <button id="button2" type="button" class="btn text-light border-light dropdown-toggle"
                        aria-expanded="false">
                        Villes/Régions
                    </button>
                </div>
                <button id="buttonmenufoottop" type="button">Demander un devis</button>
            </div>
        </nav>
    </header>
    <section class="bodyback">
        <article class="tahitiart">
            <p>Aussi belles que précieuses, Tahiti et ses îles forment un écrin de toute beauté où luxe et
                prestige côtoient quiétude et authenticité. Nos spécialistes ont déniché de véritables
                havres de
                paix au cœur du Pacifique, des décors privilégiés et des adresses d’exception pour tisser
                des
                voyages sur mesure qui séduiront les voyageurs les plus exigeants.</p>
            <p>Sur l’île de Tetiaora, The Brando est sûrement l’un des joyaux les plus majestueux, avec ses
                35
                villas et leurs plages privatives ourlées d’un lagon fréquenté par les tortues marines, les
                raies manta et les oiseaux exotiques. Un véritable paradis pour un séjour exclusif au cœur
                d’une
                nature restée intacte, avec accueil et service 5 étoiles.</p>
            <p><span class="gras">Bora Bora</span> n’est pas en reste d’hôtels prestigieux : le Saint Régis, le Four
                Seasons ou encore
                le
                Conrad mêlent intimité, élégance et panoramas de carte postale. C’est sur l’île de <span
                    class="gras">Tahaa</span>,
                petite
                sœur de <span class="gras">Raiatea</span>, que l’on trouve le premier Relais et Châteaux de Polynésie,
                le Tahaa Island
                Resort, qui fait sienne la philosophie de ce réseau exclusif basée sur la sophistication et
                l'authenticité, en harmonie avec un environnement préservé, la population et la culture
                locale.
            </p>
            <p>Luxe et prestige se retrouvent aussi dans des instants précieux. Un survol du lagon de
                <span class="gras">Tahiti</span>,
                une <span class="gras">croisière</span> à bord d’un catamaran privatisé, une journée en tête à tête sur
                un superbe
                motu,
                un dîner dans le cadre romantique d’un restaurant gastronomique, un massage dans un spa aux
                senteurs divines... Et aussi, tout simplement, un moment de détente dans un bungalow sur
                pilotis
                posé sur des eaux transparentes ou le spectacle de l’horizon qui se pare de ses plus belles
                nuances au coucher ou au lever du soleil. Luxe, calme et volupté n’attendent que vous en
                Polynésie.
            </p>
        </article>
        </div>
        <div class="tripcard">
            <div class="trip">
                <img src="assets/img/triphouse/preview.ile-de-paques_token_jsetcr6v.jpg" class="img-trip" alt="voyage 1">
                <div class="trip-body">
                    <h5 class="trip-title">Ile de Pâques et Polynésie : un voyage mythique</h5>
                    <div class="separateur"> </div>
                    <p class="trip-text">Voyage sur mesure - 18 Jours / 15 Nuits<br>A partir de <span class="price">7
                            780€*</span><br>Santiago de Chile, Valâraiso, Hanga Roa, Tahiti, Moorea, Ralatea, ...
                    </p>
                </div>
            </div>
            <div class="trip">
                <img src="assets/img/triphouse/preview.kinkakuji-temple-golden-pavilion-zen-buddhist-on-lake-at-tokyo--_token_pjkpzkzl.jpg"
                    class="img-trip" alt="voyage 2">
                <div class="trip-body">
                    <h5 class="trip-title">Voyage d'exception du Japon à la Polynésie</h5>
                    <div id="inedit">inédit</div>
                    <div class="separateur"> </div>
                    <p class="trip-text">Voyage sur mesure - 18 Jours / 15 Nuits<br>A partir de <span class="price">7
                            890€*</span><br>Kyoto, Hakone, Tahiti, Moorea, Bora Bora ...
                    </p>
                </div>
            </div>
            <div class="trip">
                <img src="assets/img/triphouse/preview.le-brando_token_3elacfqt.jpg" class="img-trip" alt="voyage 3">
                <div class="trip-body">
                    <h5 class="trip-title">Quintessence Polynésienne : croisière privée et séjour au Brando</h5>
                    <div class="separateur"> </div>
                    <p class="trip-text">Voyage sur mesure - 12 Jours / 9 Nuits<br>A partir de <span class="price">10
                            900€*</span><br>Tahiti, Moorea, Ralatea, Tahaa, Bora Bora, Tetiaroa ...
                    </p>
                </div>
            </div>
    </section>
    <section>
        <article class="polynesieart">
            <h4>Voyage sur mesure Polynésie Française</h4>
            <p>Avec une centaine d’îles éparpillées dans cinq archipels, un voyage sur mesure en Polynésie
                ne
                s’improvise pas. Pour exaucer la plus belle des évasions, nos spécialistes de l’Océanie
                s’occupent de
                tout pour que vous puissiez profiter de la douce quiétude qui caractérise ce territoire
                français des
                antipodes.</p>
            <h4>Autotour Polynésie Française</h4>
            <p>Découvrez lors d’un autotour en Polynésie toute la beauté de cette destination.</p>
            <h4>Croisière Polynésie Française</h4>
            <p>Tahiti et ses îles défilent et le temps est suspendu, lors d’une croisière en Polynésie
                française. Le
                somptueux navire Paul Gauguin vogue au fil de l'archipel de la Société et des Tuamotu, et
                vous mène
                aussi hors des sentiers battus, à la découverte des îles Fidji, des secrètes et sauvages
                îles Tonga, des
                îles Cook.</p>
            <h4>Découvrez la Polynésie autrement :</h4>
            <p>Tours du monde & combinés Polynésie Française <br>
                Les plus belles plages Polynésie <br>
                Trek Polynésie <br>
                Voyage à deux Polynésie <br>
                Voyage de noces Polynésie <br>
                Voyage en famille Polynésie <br>
                Voyage plongée Polynésie <br>
                Ecotourisme Polynésie</p>
        </article>
    </section>
    <footer>
        <div class="backfoot">
            © By Thibaut GERARD
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>